.btn {
    border: 1px solid;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 600;
}

.valid_btn:hover{
    background-color: lime !important;
}

.sub_btn {
    border: 1px solid;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 600;
}

.sub_empty {
    border: 0;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 600;
    background-color: transparent;
}


.board {
    margin: auto;
}

.basic_cube {
    margin-top: 20px;
}